body {
    background-color: #82339C;
}

a {
    color: #33829C;
    text-decoration: none;
}

a:hover {
    color: white;
}

p {
    color: #4D9C33;
}

ul {
    background-color: #9C4D33;
}

.black {
    color: #000000;
}

li {
    color: #ED51AC;
}

#special-item {
    color: #EDE051;
}
