nav {
  float: left;
  width: 200px;
  border-style: solid;
  border-color: red;
}
section {
  margin-left: 200px;
  border-style: dashed;
  border-color: blue;
  clear: right;
  overflow: visible;
}

div {
    border-style: dotted;
    border-color: green;
    clear: right;
}

img {
    float: left;
    overflow: visible;
    margin: .5em;
}

.clearfix {
  overflow: auto;
}
